html,body{margin: 0;padding: 0}* {background:transparent;line-height:normal;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}:focus{outline:none;}button::-moz-focus-inner{padding:0;border:0;}div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;margin:0}fieldset,img{border:0;vertical-align:baseline;max-width:none}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

html {
    background: #fafafa;
}

body {
    color: #3c4043;
    background: #fafafa;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
}

header {
    position: relative;
    padding: 3em 0 10em;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    color: #fff;
    margin: 16px 0;
}

header h2 {
    color: #fff;
    font-size: 1.25rem;
    opacity: 0.7;
    margin-bottom: 2rem;
    margin: 24px 0 16px;
}

nav {
    display: flex;
    margin: 1em 0;
}

nav a {
    color: #fff !important;
    display: inline-block;
    padding: 1em;
    flex: 1 1 0;
    text-align: center;
    text-decoration: none;
    border-radius: 16px 16px 0 0;
    white-space: nowrap;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.2);
}

nav i {
    display: block;
    margin: 0.25em auto;
    font-size: 36px;
}

footer {
    padding: 5em 0 3em;
    background: #eaeaea;
    margin-top: -15em;
    text-align: center;
}

footer img {
    max-height: 100px;
    margin-top: 1em;
}

footer a {
    white-space: nowrap;
    color: #666 !important;
}

footer a:hover {
    color: #000 !important;
}

footer a i {
    margin-right: 0.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #537abd;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.1rem;
}

p {
    text-align: justify;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

em {
    font-style: italic;
}

a {
    color: #1a73e8;
}

strong {
    font-weight: 700;
}

a:visited {
    color: #673ab7;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    list-style-type: inherit;
    line-height: 1.5;
}

ul ul {
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

li > ul,
li > ol {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem;
}

code {
    font-size: 1.25em;
    padding: 0.25em;
    background: #eee;
}

.img {
    text-align: center;
}

.img a {
    display: inline-block;
}

.img a :not(.noShadow) {
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.img a img {
    vertical-align: middle;
}

.adjusted {
    max-width: 896px;
    margin: auto;
    padding: 0 24px;
    box-sizing: border-box;
    position: relative;
}

.circled {
    border-radius: 50%;
}

.antispam {
    display: inline-block;
    width: 0;
    opacity: 0;
    white-space: nowrap;
    padding: 0 !important;
    margin: 0;
    user-select: none;
}

#backgroundImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/background.svg') -50px -50px;
}

#content {
    top: -11em;
    background: #fff;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 24px 32px 100px;
    min-height: 500px;
}

#content p {
    margin-bottom: 1em;
}

#companyLink {
    display: inline-block;
    margin: 1em auto 2em;
    text-decoration: none;
    white-space: normal;
}

#companyLink strong {
    white-space: nowrap;
}

#copyright {
    font-size: 14px;
    margin: 1em auto;
    color: #666;
    width: 80%;
}

#legalLinks a {
    font-size: 14px;
    margin: 0.5em 1em;
}

#toc::before {
    content: 'Table of contents';
    color: #537abd;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    display: block;
    font-size: 1.17em;
}

#toc:empty {
    display: none;
}

#content [id]:not([id=toc])::before {
    /* ToC elements must have a top empty area to avoid the sticky breadcrumb. */
    display: block;
    height: 76px;
    margin-top: -76px;
    visibility: hidden;
    content: '';
}

.breadcrumb {
    margin: 0;
    padding: 12px 0;
    line-height: 36px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #888;
    background: #fff;
    box-shadow: 0 0 16px 8px #fff;
}

.breadcrumb li {
    display: inline;
    padding-right: 0.5em;
}

.breadcrumb li:not(:last-child)::after {
    content: '\226B';
    padding-left: 0.5em;
}

.button {
    border: 1px solid #666;
    border-radius: 3px;
    color: #666 !important;
    text-decoration: none;
    display: inline-block;
    padding: 0.75rem 1rem;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.button:focus {
    background-color: rgba(0, 0, 0, 0.2)
}

.button:active {
    background-color: rgba(0, 0, 0, 0.25)
}

@media screen and (max-width: 570px) {
    header h1 {
        font-size: 2rem;
    }
    
    header h2 {
        font-size: 1rem;
    }

    nav {
        margin: 0 -24px;
    }

    nav a {
        font-size: 3vw;
    }

    nav i {
        font-size: 8vw;
    }

    #content {
        padding: 24px 16px 100px;
        font-size: 1rem;
    }
}
